sgenfe/Web References/pesquisadepreco/IntegracaoLojista.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="FuncaoGenerica2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IDVersao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NomeFuncao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlEntrada" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlSaida" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StringErro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ambiente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailLojista" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SenhaLojista" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FuncaoGenerica2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FuncaoGenerica2Result" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlSaida" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StringErro" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FuncaoGenerica">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IDVersao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NomeFuncao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlEntrada" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlSaida" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StringErro" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FuncaoGenericaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FuncaoGenericaResult" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlSaida" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StringErro" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FuncaoGenerica2SoapIn">
    <wsdl:part name="parameters" element="tns:FuncaoGenerica2" />
  </wsdl:message>
  <wsdl:message name="FuncaoGenerica2SoapOut">
    <wsdl:part name="parameters" element="tns:FuncaoGenerica2Response" />
  </wsdl:message>
  <wsdl:message name="FuncaoGenericaSoapIn">
    <wsdl:part name="parameters" element="tns:FuncaoGenerica" />
  </wsdl:message>
  <wsdl:message name="FuncaoGenericaSoapOut">
    <wsdl:part name="parameters" element="tns:FuncaoGenericaResponse" />
  </wsdl:message>
  <wsdl:portType name="IntegracaoLojistaSoap">
    <wsdl:operation name="FuncaoGenerica2">
      <wsdl:input message="tns:FuncaoGenerica2SoapIn" />
      <wsdl:output message="tns:FuncaoGenerica2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FuncaoGenerica">
      <wsdl:input message="tns:FuncaoGenericaSoapIn" />
      <wsdl:output message="tns:FuncaoGenericaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IntegracaoLojistaSoap" type="tns:IntegracaoLojistaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FuncaoGenerica2">
      <soap:operation soapAction="http://tempuri.org/FuncaoGenerica2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FuncaoGenerica">
      <soap:operation soapAction="http://tempuri.org/FuncaoGenerica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IntegracaoLojistaSoap12" type="tns:IntegracaoLojistaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FuncaoGenerica2">
      <soap12:operation soapAction="http://tempuri.org/FuncaoGenerica2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FuncaoGenerica">
      <soap12:operation soapAction="http://tempuri.org/FuncaoGenerica" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IntegracaoLojista">
    <wsdl:port name="IntegracaoLojistaSoap" binding="tns:IntegracaoLojistaSoap">
      <soap:address location="http://pesquisadepreco.azurewebsites.net/IntegracaoLojista.asmx" />
    </wsdl:port>
    <wsdl:port name="IntegracaoLojistaSoap12" binding="tns:IntegracaoLojistaSoap12">
      <soap12:address location="http://pesquisadepreco.azurewebsites.net/IntegracaoLojista.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>